<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>加入我们 - 深圳市卡扑动漫设计有限公司</title>
    <meta name="keywords" content="深圳市卡扑动漫设计有限公司" />
    <meta name="description" content="深圳市卡扑动漫设计有限公司" />
</head>

<body class="inner-page">
    <%= require('@/global.ejs')() %>

    <div class="page-join">
        <div class="slogan">
            <h2 class="title">卡扑欢迎秃头</h2>
            <p>秃头的不一定是强者,强者一定是秃头!</p>
            <p>风里雨里,卡扑等你一起搞事情</p>
            <p>HAVE FUN , WELL DONE!</p>
        </div>

        <div class="stations">
            <div class="stations-item">
                <div class="stations-item-bd">
                    <div class="station-logo">
                        <img src="<%=require('../../images/station01.png') %>" alt="">
                    </div>
                    <div class="station-name">
                        <h3>卡扑动漫</h3>
                        <small>HUGE CLAW</small>
                    </div>
                    <div class="jobs">
                        <div class="jobs-item" data-job-id="job01">市场拓展</div>
                        <div class="jobs-item" data-job-id="job02">创意文案/策划/编剧</div>
                    </div>
                </div>
            </div>

            <div class="stations-item">
                <div class="stations-item-bd">
                    <div class="station-logo">
                        <img src="<%=require('../../images/station02.png') %>" alt="">
                    </div>
                    <div class="station-name">
                        <h3>卡扑动漫</h3>
                        <small>HUGE CLAW</small>
                    </div>
                    <div class="jobs">
                        <div class="jobs-item" data-job-id="job01">市场拓展</div>
                        <div class="jobs-item" data-job-id="job02">创意文案/策划/编剧</div>
                    </div>
                </div>
            </div>

            <div class="stations-item">
                <div class="stations-item-bd">
                    <div class="station-logo">
                        <img src="<%=require('../../images/station03.png') %>" alt="">
                    </div>
                    <div class="station-name">
                        <h3>卡扑动漫</h3>
                        <small>HUGE CLAW</small>
                    </div>
                    <div class="jobs">
                        <div class="jobs-item" data-job-id="job01">市场拓展</div>
                        <div class="jobs-item" data-job-id="job02">创意文案/策划/编剧</div>
                    </div>
                </div>
            </div>

            <div class="stations-item">
                <div class="stations-item-bd">
                    <div class="station-logo">
                        <img src="<%=require('../../images/station04.png') %>" alt="">
                    </div>
                    <div class="station-name">
                        <h3>卡扑动漫</h3>
                        <small>HUGE CLAW</small>
                    </div>
                    <div class="jobs">
                        <div class="jobs-item" data-job-id="job01">市场拓展</div>
                        <div class="jobs-item" data-job-id="job01">创意文案/策划/编剧</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-join-ft">
            <h4>简历和个人作品传送门</h4>
            <a class="email" href="mailto:hr@hugeclaw.com">hr@hugeclaw.com</a>
        </div>

        <div class="modal">
            <div class="modal-mask"></div>
            <div class="modal-bd">
                <div class="job">
                    <div class="modal-close"></div>
                    <div class="job-bd">
                        <h2 class="job-title"><span></span><small></small></h2>
                        <dl class="duety">
                            <dt>工作职责</dt>
                            
                        </dl>
                        <dl class="request">
                            <dt>工作要求</dt>
                        </dl>
                        <dl class="hr">
                            <dt>卡扑人力资源部</dt>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <!-- 招聘模版，请将内容写入以下相关标签 -->
        <!-- class name is the data-job-id -->
        <div class="job01" style="display: none;">
            <div class="title">氛围概念原画师（写实）</div>
            <div class="salary">5-15K</div>
            <!-- 请用 <dd>...</dd> 标签 包裹每项 -->
            <!-- 工作职责 -->
            <div class="duety">
                <dd>1、两年以上游戏、影视氛围概念设计相关行业工作经验，有出色的美术绘画功底，素描色彩等艺术类专业优先；</dd>
                <dd>2、具有游戏场景原画制作项目经验，并成功上线者优先考虑；</dd>
                <dd>3、精通PS等绘图软件，有较高的审美，能绘制出欧美写实风格的氛围图，有丰富的创造力及空间、光影、色彩的敏感度；</dd>
                <dd>4、绘画风格偏欧美或中国风；</dd>
                <dd>5、设计、造型、创意能力出众，色彩感觉良好，想象力丰富，对各种建筑风格、结构及地形，有深刻认识；</dd>
                <dd>6、良好的团队合作精神、性格开朗，善于沟通和学习。</dd>
                <dd>随简历附上个人作品和近期生活照！</dd>
            </div>
            
            <!-- 工作要求 -->
            <div class="request">
                <dd>根据项目需求，配合导演及制片， 绘制出欧美写实风格的场景宣传画或氛围概念设计。</dd>
            </div>

            <!-- 卡扑人力资源部 -->
            <div class="hr">
                <dd>根据项目需求，配合导演及制片， 绘制出欧美写实风格的场景宣传画或氛围概念设计。</dd>
                <dd>根据项目需求，配合导演及制片， 绘制出欧美写实风格的场景宣传画或氛围概念设计。</dd>
            </div>
        </div>
        <!-- end template for job -->

        <!-- class name is the data-job-id -->
        <div class="job02" style="display: none;">
            <div class="title">创意文案/策划/编剧</div>
            <div class="salary">5-15K</div>
            <!-- 请用 <dd>...</dd> 标签 包裹每项 -->
            <!-- 工作职责 -->
            <div class="duety">
                <dd>1、想idea，campaign，TVC……都有，最重要的是懂客户的心；</dd>
                <dd>2、写文案，Slogan&提案&视频脚本&剧本&H5…都可以，文风百变HOLD住各种需求；</dd>
                <dd>3、对内头脑风暴时敢想敢说，对外思路清晰精准洞察；创意能飞离地心引力，但也有缜密的逻辑；</dd>
            </div>
            
            <!-- 工作要求 -->
            <div class="request">
                <dd>1、广告、影视文学、影视动画、中文及相关专业毕业；</dd>
                <dd>2、两年以上相关工作经验，会写，能学，是段子手也是洞察大师，具有全案品牌策略、优秀创意、有4A文案、编剧等策划工作经验优先考虑；</dd>
                <dd>3、有良好团队沟通及方案提报能力与客户谈判能力，拥有独具创意的策划灵感及一定美学基础；</dd>
            </div>

            <!-- 卡扑人力资源部 -->
            <div class="hr">
                <dd>简历和作品请投递至: hr@hugeclaw.com ， 发送时请注明“应聘XX职位+姓名”</dd>
                <dd>带“奖”字的职位说明推荐有奖，被推荐员工转正后可以领取奖金，推荐人信息请一并在首次邮件中说明。此项最终解释权归深圳市卡扑动漫设计公司所有。</dd>
                <dd>福利待遇：</dd>
                <dd>(1) 五险一金。入职当月即为员工购买五险（养老保险、医疗保险、失业保险、工伤保险和生育保险），享受住房公积金。</dd>
                <dd>(2) 员工享有年假、每月1天带薪病假和国家法定假期，充分体现对员工的关怀。</dd>
                <dd>(3) 双休制度。公司实行5天7.5小时工作制。</dd>
                <dd>(4) 员工活动。生日会、下午茶、羽毛球、篮球、登山、拓展等团队建设福利活动。</dd>
                <dd>(5) 年度旅游。每年两次国内外员工旅游（要提前办好护照哦）。</dd>
                <dd>(6) 大型庆典。年终将举行公司新春年会及工作总结表彰颁奖大会。</dd>
            </div>
        </div>
        <!-- end template for job -->
    </div>
</body>

</html>